{
  "semi": true,           // крапка з комою в кінці рядків
  "singleQuote": true,    // одинарні лапки
  "tabWidth": 2,          // 2 пробіли на відступ
  "printWidth": 80,       // максимальна довжина рядка
  "trailingComma": "es5", // кома після останнього елементу у масиві/об'єкті
  "bracketSpacing": true  // пробіли всередині дужок об'єктів
}
