.form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 516px;
  padding: 32px;
  gap: 16px;
 
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputWrapper  {
  input{
    width: 100%;
  padding: 16px 32px;
  font-size: 20px;
  line-height: 130%;
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 6px;
  &::placeholder {
   color: #fff;
}
&:focus{
  border: solid 3px #fff;
  outline: none;
  font-weight: 500;
}
  }

}


.error {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.submitBtn {
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 500;
  color: #282828;
  border-radius: 6px;
  margin-top: 16px;
  border: none;
  
}
.submitBtn:hover{
  
    background-color: black;
    color: #fff;
  
}
.submitBtn:disabled:hover {
  background-color: black;
    color: #fff;
  
 
}
.submitBtn:disabled{
  background-color: #fff;
  color: #282828;
  border: none;
}
