.hero {
  max-width: 1440px;
  background-image: url('../../assets/images/hero.jpg'); 
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
  padding: 80px 40px 210px 40px; 
  margin-bottom: 80px;
}
h1 {
  max-width: 1000px;
  font-size: 96px;
  color: #ffff;
  margin-bottom: 40px;
}

.hero > button {
  font-size: 20px;
padding: 16px 56px;
background-color: #0D50FF;
color: #ffff;
border: none;
border-radius: 6px;
}