.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 40px 80px 40px;
    gap: 32px;
    
}
.details{
    width: 100%;
}
.title{
    font-size: 40px;
    font-weight: 700;
    line-height: 110%;
    color: #282828;
}
.prices{
    position: relative;
}
.main_price{
     font-size: 64px;
    font-weight: 700;
    line-height: 110%;
color: #282828;
}
.second_price{
    font-size: 40px;
    font-weight: 500;
    color: #B8B8B8;
    text-decoration: line-through;
}

.discontBadge{
    position: absolute;
  top: 16px;
  right: 16px;
  background-color: #0d50ff;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 20px;
  z-index: 10;
}

.countProductSection {
  display: flex;

  gap: 32px;
}

.countProduct {
    display: inline-block;
  border: solid 1px #dddddd;
  border-radius: 6px;
  button {
    width: 58px;
    height: 58px;
    color: #8b8b8b;
    border-radius: 6px;
    font-size: 20px;
    border: none;
  }
  .left {
    border-right: solid #dddddd 1px;
  }
  .right {
    border-left: 1px solid #dddddd;
  }
}
.quantity {
  display: inline-block;
  font-size: 20px;
  width: 116px;
  text-align: center;
}