.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.link {
  color: black;
  text-decoration: none;
}

.activeLink {
  color: #0D50FF;
  font-weight: bold;
}

a{
    font-size: 20px;
    font-weight: medium;
    line-height: 130%;

}

a:hover {
    color: #0D50FF;
}